.sidepanel {
    position: fixed;
    top: 226px;
    left: 50px;
    height: 338px;
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    &__divider {
        height: 70px;
        width: 2px;
        background-color: #000;
    }
    &__social {
        display: flex;
        justify-content: space-between;
        height: 90px;
        flex-direction: column;
    }
    &__link {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 20px;
            max-height: 20px;
        }
    }
    &__text {
        height: 148px;
        width: 24px;
        span {
            display: block;
            width: 148px;
            height: 24px;
            transform: rotate(-90deg) translate(-41.5%, -260%);
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.4px;
        }
    }
}